body {
  font-family: sans-serif;
}

html,
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.container {
  margin: auto;
  text-align: center;
}

.title {
  font-size: 3rem;
}

#board {
	width:400px;
	height:400px;
	position:relative;
	margin:0px auto;
}

.tile, .piece {
	width:90px;
	height:90px;
	border:4px solid black;
	font-size:40pt;
	position:absolute;
  cursor:default;	
  margin: 1px;
}

.tileMovable {
	border-color: #4CAF50;
}

button {
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 3px solid #555555;
}

button:hover {
  border-color: #000000;
}

.blinking{
	animation:blinkingBg 0.8s infinite;
}

@keyframes blinkingBg{
	0%{		background-color: #4CAF50;	}
	49%{	background-color: transparent;	}
	50%{	background-color: transparent;	}
	99%{	background-color:transparent;	}
	100%{	background-color: #4CAF50;	}
}
